
<mat-toolbar color="primary">
   <span>Sprint 09</span>
   <span class="example-spacer"></span>
   <button mat-button routerLink="/employees/inicio" >Inicio</button>
   <button mat-button routerLink="/employees/usuarios">Usuarios</button>
   <button mat-button routerLink="/employees/informes">Informes</button>
   <span class="example-spacer"></span>
   <button  mat-icon-button 
            class="example-icon favorite-icon" 
            aria-label="Example icon-button with logout icon"
            routerLink="/" >
      <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>
